swagger: '2.0'
info:
  title: ${app_name} API Gateway
  description: API Gateway for ${app_name} microservices
  version: 1.0.0
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json

# Define backend address at top level - applies to all operations
x-google-backend:
  address: http://itinerary-service.default.svc.cluster.local:8080
  path_translation: APPEND_PATH_TO_ADDRESS

paths:
  # Auth endpoints
  /auth:
    get:
      operationId: get_auth
      responses:
        '200':
          description: Success
    options:
      operationId: options_auth
      responses:
        '200':
          description: Success

  /auth/**:
    get:
      operationId: get_auth_wildcard
      responses:
        '200':
          description: Success
    post:
      operationId: post_auth_wildcard
      responses:
        '200':
          description: Success
    options:
      operationId: options_auth_wildcard
      responses:
        '200':
          description: Success

  # Comment endpoints
  /comment:
    get:
      operationId: get_comment
      responses:
        '200':
          description: Success
    post:
      operationId: post_comment
      responses:
        '200':
          description: Success
    delete:
      operationId: delete_comment
      responses:
        '200':
          description: Success
    options:
      operationId: options_comment
      responses:
        '200':
          description: Success

  /comment/**:
    get:
      operationId: get_comment_wildcard
      responses:
        '200':
          description: Success
    post:
      operationId: post_comment_wildcard
      responses:
        '200':
          description: Success
    put:
      operationId: put_comment_wildcard
      responses:
        '200':
          description: Success
    delete:
      operationId: delete_comment_wildcard
      responses:
        '200':
          description: Success
    patch:
      operationId: patch_comment_wildcard
      responses:
        '200':
          description: Success
    options:
      operationId: options_comment_wildcard
      responses:
        '200':
          description: Success

  # Itinerary endpoints
  /itinerary:
    get:
      operationId: get_itinerary
      responses:
        '200':
          description: Success
    post:
      operationId: post_itinerary
      responses:
        '200':
          description: Success
    put:
      operationId: put_itinerary
      responses:
        '200':
          description: Success
    delete:
      operationId: delete_itinerary
      responses:
        '200':
          description: Success
    options:
      operationId: options_itinerary
      responses:
        '200':
          description: Success

  /itinerary/**:
    get:
      operationId: get_itinerary_wildcard
      responses:
        '200':
          description: Success
    post:
      operationId: post_itinerary_wildcard
      responses:
        '200':
          description: Success
    put:
      operationId: put_itinerary_wildcard
      responses:
        '200':
          description: Success
    delete:
      operationId: delete_itinerary_wildcard
      responses:
        '200':
          description: Success
    patch:
      operationId: patch_itinerary_wildcard
      responses:
        '200':
          description: Success
    options:
      operationId: options_itinerary_wildcard
      responses:
        '200':
          description: Success

  # Like endpoints
  /like:
    get:
      operationId: get_like
      responses:
        '200':
          description: Success
    post:
      operationId: post_like
      responses:
        '200':
          description: Success
    delete:
      operationId: delete_like
      responses:
        '200':
          description: Success
    options:
      operationId: options_like
      responses:
        '200':
          description: Success

  /like/**:
    get:
      operationId: get_like_wildcard
      responses:
        '200':
          description: Success
    post:
      operationId: post_like_wildcard
      responses:
        '200':
          description: Success
    put:
      operationId: put_like_wildcard
      responses:
        '200':
          description: Success
    delete:
      operationId: delete_like_wildcard
      responses:
        '200':
          description: Success
    patch:
      operationId: patch_like_wildcard
      responses:
        '200':
          description: Success
    options:
      operationId: options_like_wildcard
      responses:
        '200':
          description: Success

  # Location endpoints
  /location:
    get:
      operationId: get_location
      responses:
        '200':
          description: Success
    post:
      operationId: post_location
      responses:
        '200':
          description: Success
    put:
      operationId: put_location
      responses:
        '200':
          description: Success
    delete:
      operationId: delete_location
      responses:
        '200':
          description: Success
    options:
      operationId: options_location
      responses:
        '200':
          description: Success

  /location/**:
    get:
      operationId: get_location_wildcard
      responses:
        '200':
          description: Success
    post:
      operationId: post_location_wildcard
      responses:
        '200':
          description: Success
    put:
      operationId: put_location_wildcard
      responses:
        '200':
          description: Success
    delete:
      operationId: delete_location_wildcard
      responses:
        '200':
          description: Success
    patch:
      operationId: patch_location_wildcard
      responses:
        '200':
          description: Success
    options:
      operationId: options_location_wildcard
      responses:
        '200':
          description: Success

  # User endpoints
  /user:
    get:
      operationId: get_user
      responses:
        '200':
          description: Success
    post:
      operationId: post_user
      responses:
        '200':
          description: Success
    options:
      operationId: options_user
      responses:
        '200':
          description: Success

  /user/**:
    get:
      operationId: get_user_wildcard
      responses:
        '200':
          description: Success
    post:
      operationId: post_user_wildcard
      responses:
        '200':
          description: Success
    put:
      operationId: put_user_wildcard
      responses:
        '200':
          description: Success
    delete:
      operationId: delete_user_wildcard
      responses:
        '200':
          description: Success
    patch:
      operationId: patch_user_wildcard
      responses:
        '200':
          description: Success
    options:
      operationId: options_user_wildcard
      responses:
        '200':
          description: Success

