swagger: '2.0'
info:
  title: ${app_name} API Gateway
  description: API Gateway for ${app_name} microservices
  version: 1.0.0
host: ${api_gateway_host}
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
x-google-backend:
  address: http://${backend_service_address}
paths:
%{ for service_key, service in services ~}
  ${service.path_prefix}:
    get:
      summary: Route to ${service.name}
      operationId: route_${service_key}_get
      responses:
        '200':
          description: Success
    post:
      summary: Route to ${service.name}
      operationId: route_${service_key}_post
      responses:
        '200':
          description: Success
    put:
      summary: Route to ${service.name}
      operationId: route_${service_key}_put
      responses:
        '200':
          description: Success
    delete:
      summary: Route to ${service.name}
      operationId: route_${service_key}_delete
      responses:
        '200':
          description: Success
    patch:
      summary: Route to ${service.name}
      operationId: route_${service_key}_patch
      responses:
        '200':
          description: Success
  ${service.path_prefix}/{path}:
    parameters:
      - name: path
        in: path
        required: true
        type: string
    get:
      summary: Route to ${service.name} with path
      operationId: route_${service_key}_get_path
      responses:
        '200':
          description: Success
    post:
      summary: Route to ${service.name} with path
      operationId: route_${service_key}_post_path
      responses:
        '200':
          description: Success
    put:
      summary: Route to ${service.name} with path
      operationId: route_${service_key}_put_path
      responses:
        '200':
          description: Success
    delete:
      summary: Route to ${service.name} with path
      operationId: route_${service_key}_delete_path
      responses:
        '200':
          description: Success
    patch:
      summary: Route to ${service.name} with path
      operationId: route_${service_key}_patch_path
      responses:
        '200':
          description: Success
%{ endfor ~}

