apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: weather-postgres-data-pvc
  labels:
    app: weather-postgres
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 4Gi
